
        h1 ~ p:first-of-type:first-letter {
            float: left;
            margin-top: 0.33rem;
            margin-right: 0.04em;
            margin-bottom: -0.15em;
            margin-left: -0.15ex;
            padding-left: 0;
            line-height: 0.83em;
            font-family: "Linux Libertine O", serif;
            text-transform: uppercase;
            font-weight: normal;
            font-size: 3rem;
            color: #9090c0;
          }
          .chapnum {
              display: inline-block;
              font-weight: normal;
              font-size: 6.7em;
              color: #aeaece;
              height: 1ex;
              margin-top: 0.3ex;
              margin-bottom: 0.5ex;
          }